#pic {
    float: left; /* Обтекание картинки текстом */
}
#text {
    margin-left: 300px; /* Отступ от левого края */
}

p {
    margin-left: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
}

h2 {
    border-bottom: 1px solid #333;
    margin: 20px;
    padding-bottom: 5px;
}

.gallery-container {
    /* display: flex; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 500px;
    height: auto;
    scroll-snap-align: start;
}

/* Стили для маленьких экранов */
@media (max-width: 767px) {
    #biography {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #text {
        margin-left: 0px; /* Отступ от левого края */
    }
}